body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.tstable, .tstable td, .tstable th {
  border: 1px solid;
}

.tstable {
  /* background-color: chocolate; */
  width: 100%;
}

.tdhour {
  text-align: right;
}

.jira {
  /* background-color: red; */
}
.timesheet {
  /* background-color: green; */
}
